In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('C:\\Users\\krishna\\AppData\\Local\\Temp\\Temp1_graduate-admissions.zip\\Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [8]:
df1=df.set_index('Serial No.')
df1.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [9]:
x=df.iloc[:,:-1].values

In [10]:
y=df.iloc[:,-1].values

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [25]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x1_train=ss.fit_transform(x_train)
x1_test=ss.transform(x_test)

In [26]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(x1_train,y_train)
pred=dt.predict(x1_test)
pred

array([0.68, 0.64, 0.73, 0.67, 0.77, 0.54, 0.77, 0.74, 0.93, 0.91, 0.42,
       0.94, 0.69, 0.34, 0.85, 0.53, 0.74, 0.83, 0.68, 0.77, 0.89, 0.86,
       0.59, 0.46, 0.87, 0.68, 0.44, 0.47, 0.87, 0.64, 0.71, 0.69, 0.81,
       0.69, 0.84, 0.78, 0.56, 0.85, 0.78, 0.94, 0.74, 0.69, 0.8 , 0.84,
       0.8 , 0.46, 0.58, 0.78, 0.72, 0.71, 0.7 , 0.79, 0.71, 0.85, 0.81,
       0.73, 0.46, 0.74, 0.63, 0.78, 0.82, 0.47, 0.53, 0.36, 0.78, 0.85,
       0.78, 0.94, 0.79, 0.74, 0.72, 0.85, 0.92, 0.62, 0.91, 0.47, 0.59,
       0.72, 0.9 , 0.69, 0.66, 0.69, 0.48, 0.89, 0.69, 0.76, 0.64, 0.71,
       0.78, 0.82, 0.73, 0.94, 0.7 , 0.62, 0.78, 0.67, 0.84, 0.72, 0.77,
       0.78])

In [27]:
from sklearn.metrics import *
from numpy import sqrt

In [28]:
rmse=sqrt(mean_squared_error(y_test,pred))
rmse

0.09872183142547548

In [29]:
mae=mean_absolute_error(y_test,pred)
mae

0.07179999999999997

In [30]:
accuracy=r2_score(y_test,pred)
accuracy*100

44.15318964593492

In [31]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor()
rfr.fit(x1_train,y_train)
pred1=rfr.predict(x1_test)
pred1

C:\Users\krishna\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.686, 0.677, 0.786, 0.668, 0.725, 0.522, 0.719, 0.687, 0.912,
       0.917, 0.47 , 0.913, 0.654, 0.498, 0.821, 0.562, 0.71 , 0.804,
       0.627, 0.739, 0.858, 0.847, 0.627, 0.463, 0.839, 0.642, 0.434,
       0.573, 0.876, 0.65 , 0.688, 0.761, 0.766, 0.638, 0.784, 0.708,
       0.593, 0.885, 0.669, 0.931, 0.725, 0.672, 0.647, 0.82 , 0.827,
       0.596, 0.539, 0.69 , 0.672, 0.662, 0.695, 0.817, 0.697, 0.869,
       0.752, 0.743, 0.575, 0.642, 0.744, 0.814, 0.806, 0.481, 0.553,
       0.575, 0.819, 0.869, 0.706, 0.915, 0.812, 0.752, 0.606, 0.843,
       0.874, 0.579, 0.926, 0.527, 0.641, 0.679, 0.928, 0.595, 0.735,
       0.704, 0.504, 0.844, 0.644, 0.815, 0.64 , 0.744, 0.806, 0.82 ,
       0.796, 0.94 , 0.515, 0.534, 0.852, 0.708, 0.747, 0.669, 0.726,
       0.761])

In [33]:
rmsef=sqrt(mean_squared_error(y_test,pred1))
rmsef

0.06960912296531252

In [34]:
mae=mean_absolute_error(y_test,pred1)
mae

0.05059

In [35]:
accuracyf=r2_score(y_test,pred)
accuracyf*100

44.15318964593492