In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('C:\\Users\\krishna\\divesh\\50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [6]:
x=df.iloc[:,[0,1,2]]
y=df.iloc[:,-1]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [8]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
y_pred

array([104858.68792624, 132180.42376363, 133322.11933423,  72113.62933704,
       179083.55561998, 114843.75907009,  65955.16143209,  98683.96747911,
       114456.08522159, 168405.59509517,  96182.70251536,  87655.37645653,
       110908.05435256])

In [9]:
df=pd.DataFrame({'actual':y_test,'predicted':y_pred})
df

       actual      predicted
28  103282.38  104858.687926
11  144259.40  132180.423764
10  146121.95  133322.119334
41   77798.83   72113.629337
2   191050.39  179083.555620
27  105008.31  114843.759070
38   81229.06   65955.161432
31   97483.56   98683.967479
22  110352.25  114456.085222
4   166187.94  168405.595095
33   96778.92   96182.702515
35   96479.51   87655.376457
26  105733.54  110908.054353

In [11]:
new_pred=lr.predict([[130000,230000,330000]])
new_pred

array([163978.87871803])

In [14]:
from sklearn.metrics import mean_squared_error,mean_absolute_error
from numpy import sqrt
rmse=sqrt(mean_squared_error(y_test,y_pred))
rmse

8530.369226518635

In [15]:
mae=mean_absolute_error(y_test,y_pred)
mae

7025.635437378252

In [16]:
from sklearn.metrics import r2_score
accuracy=r2_score(y_test,y_pred)
Accuracy=accuracy*100
Accuracy

93.25475204846335