In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('C:\\Users\\krishna\\AppData\\Local\\Temp\\Temp1_graduate-admissions.zip\\Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
x=df.iloc[:,:-1].values

In [5]:
y=df.iloc[:,-1].values

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x1_train=ss.fit_transform(x_train)
x1_test=ss.transform(x_test)

In [18]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x1_train,y_train)
pred=lr.predict(x1_test)
pred

array([0.68911941, 0.71750568, 0.79939816, 0.61624173, 0.72593954,
       0.57599303, 0.70207399, 0.64999844, 0.86691126, 0.92501826,
       0.51121526, 0.87573948, 0.69842181, 0.47700584, 0.8254175 ,
       0.59763678, 0.63524907, 0.80252958, 0.58047434, 0.73259438,
       0.88045568, 0.85780324, 0.64979447, 0.4734984 , 0.78483399,
       0.60001518, 0.47508968, 0.61425422, 0.90842471, 0.63626054,
       0.62740783, 0.75361237, 0.76604998, 0.5572847 , 0.76519471,
       0.75239001, 0.63427113, 0.85992398, 0.62477386, 0.96568783,
       0.70950017, 0.68807275, 0.67860371, 0.77347665, 0.85077944,
       0.63462276, 0.5885094 , 0.70843082, 0.60057264, 0.60072265,
       0.67720158, 0.79055841, 0.65802612, 0.88012154, 0.73194286,
       0.77206223, 0.69292793, 0.70062219, 0.73591889, 0.80944549,
       0.74870606, 0.47623753, 0.60043538, 0.54261722, 0.84078639,
       0.84585368, 0.72802832, 0.84307078, 0.75835155, 0.76370352,
       0.56467374, 0.8395414 , 0.80459835, 0.58270763, 0.91777025,
       0.6060684 , 0.65870125, 0.66020441, 0.93587791, 0.52951233,
       0.74813365, 0.72888837, 0.56380951, 0.84758099, 0.61042574,
       0.80988315, 0.64443457, 0.75665191, 0.83778651, 0.87080001,
       0.79929303, 0.9536696 , 0.51912339, 0.513807  , 0.84664017,
       0.66042724, 0.76099784, 0.6509539 , 0.75927734, 0.78148026])

In [19]:
from sklearn.metrics import *
from numpy import sqrt

In [20]:
rmse=sqrt(mean_squared_error(y_test,pred))
rmse

0.06648623995552419

In [21]:
mae=mean_absolute_error(y_test,pred)
mae

0.048160510577192374

In [22]:
accuracy=r2_score(y_test,pred)
accuracy*100

74.66998120242239