In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('C:\\Users\\krishna\\AppData\\Local\\Temp\\Temp1_graduate-admissions.zip\\Admission_Predict.csv')
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [5]:
df1=df.set_index('Serial No.')
df1.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [6]:
x=df1.iloc[:,:-1].values

In [7]:
y=df1.iloc[:,-1].values

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [12]:
import statsmodels.api  as sm
ols=sm.OLS(endog=y_train,exog=x_train).fit()
pred=ols.predict(x_test)
pred

array([0.748367  , 0.7353922 , 0.7481064 , 0.62751511, 0.71000979,
       0.59427977, 0.71399505, 0.63162446, 0.8127174 , 0.89543752,
       0.54742901, 0.86457809, 0.65811667, 0.4449948 , 0.8376897 ,
       0.60897367, 0.62541886, 0.76593715, 0.54183524, 0.73397534,
       0.85630249, 0.80263876, 0.73057693, 0.49666752, 0.80495212,
       0.63023408, 0.57425642, 0.63098317, 0.85068418, 0.62136735,
       0.64310253, 0.71948887, 0.79728141, 0.61183243, 0.74656864,
       0.73422621, 0.6235384 , 0.87419442, 0.65187832, 0.9060858 ,
       0.70882088, 0.63827593, 0.68649287, 0.80521048, 0.80155783,
       0.59097541, 0.50988712, 0.73109466, 0.61288803, 0.61492977,
       0.6638633 , 0.76398879, 0.64521511, 0.84685042, 0.76716563,
       0.7352654 , 0.6322218 , 0.69836233, 0.75199255, 0.86266951,
       0.77207489, 0.51169272, 0.60344297, 0.56184321, 0.86211382,
       0.81433226, 0.71497432, 0.86663177, 0.71019998, 0.75235231,
       0.58779   , 0.83904423, 0.84924987, 0.62609504, 0.87284364,
       0.6680169 , 0.6491786 , 0.62570381, 0.87519688, 0.56296329,
       0.70073818, 0.69008066, 0.52864275, 0.84410584, 0.58189481,
       0.80728657, 0.67928362, 0.71909145, 0.79651675, 0.82662128,
       0.77020303, 0.90966342, 0.49482848, 0.55494602, 0.86854642,
       0.65779314, 0.81499129, 0.59661148, 0.71090397, 0.80229538])

In [13]:
print(ols.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.991
Model:                            OLS   Adj. R-squared (uncentered):              0.991
Method:                 Least Squares   F-statistic:                              4617.
Date:                Thu, 23 Apr 2020   Prob (F-statistic):                   1.21e-295
Time:                        15:29:28   Log-Likelihood:                          371.20
No. Observations:                 300   AIC:                                     -728.4
Df Residuals:                     293   BIC:                                     -702.5
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.0030      0.001     -5.916      0.000      -0.004      -0.002
x2             0.0019      0.001      1.368      0.172      -0.001       0.005
x3             0.0221      0.006      3.676      0.000       0.010       0.034
x4            -0.0017      0.007     -0.236      0.813      -0.016       0.012
x5             0.0190      0.007      2.610      0.010       0.005       0.033
x6             0.1516      0.016      9.320      0.000       0.120       0.184
x7             0.0546      0.009      5.788      0.000       0.036       0.073
==============================================================================
Omnibus:                       51.575   Durbin-Watson:                   2.035
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               83.534
Skew:                          -0.996   Prob(JB):                     7.26e-19
Kurtosis:                       4.647   Cond. No.                     1.34e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.34e+03. This might indicate that there are
strong multicollinearity or other numerical problems.